body {
    background-color: rgb(221, 236, 248);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-area a {
    text-decoration: none;
    color: blue;
}

.food-drinks-button a {
    text-decoration: none;
}